<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDv8FC4drXDmdWnT3Ee3IYUj6c1_j_Zzyk</string>
	<key>GCM_SENDER_ID</key>
	<string>331036355257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carpool</string>
	<key>PROJECT_ID</key>
	<string>carpool-images-424417</string>
	<key>STORAGE_BUCKET</key>
	<string>carpool-images-424417.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331036355257:ios:9b6ed9b4497584ea75c968</string>
</dict>
</plist>